.card {
    margin: 1em auto;
    min-width: 80%;
    max-width: 90%;
    text-align: center;
    background-color: transparent;
    padding: 0.5em 0;
    cursor: pointer;
    border-radius: 15px;
}


.card-img-container {
    height: 300px;
    margin: 0 auto;
    padding: 0.9em;
}

.card-img-top{
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}


.card .card-title {
    font-size: 1.2em;
    overflow: hidden;
    line-height: 1.2em;
    height: 2.6em;
    color: #3d4744;
}

.card .card-text {
    font-weight: bold;
}

.card button {
    border:none;
    margin: 0 0.3em;
}
.card button:first-of-type {
    background-color: #007a74;
}

.card button:last-of-type {
    background-color: #d22e68;
}